.card {
  border-radius: 12px;
  overflow: hidden;
  transition: all .3s;
  box-shadow: 0px 15px 20px 0px #F7F8F9;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    border: 1px solid #D9DBE9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
  }
}

.cardHeader {
  height: 156px;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.cardBadgeNew{
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  width: 42px;
  border-radius: 10000000px;
  background: #EBECFE;
  color: #6D29FF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 4px 6px;
}

.cardHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background: white;
}

.cardBody img {
  width: 20px;
  height: 20px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.cardInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardInfoHeader button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.cardTitle {
  color: #0C0C1A;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.135px;
}

.cardReviews {
  display: flex;
  gap: 8px;
  color: rgba(6, 6, 13, 0.65);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.105px;
}

.cardBrand {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cardBrand span {
  color: #0C0C1A;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.09px;
}

.cardInfoFooter {
  display: flex;
  gap: 8px;
}

.cardInfoFooter span {
  color: rgba(6, 6, 13, 0.34);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.105px;
}

.cardCallToAction {
  border-radius: 8px;
  border: 1px solid #D9DBE9;
  background: white;
  color: #4E4B66;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all .3s;

  &:hover,
  &:focus{
    outline: none;
    border-color: #D9DBE9;
  }
}

.card:hover .cardCallToAction {
  border-color: #6D29FF;
  color: #6D29FF;
}

@media screen and (min-width: 1441px) {
  .card {
    flex: 1 1 calc(20% - 16px);
    max-width: calc(20% - 16px);
  }

}

@media screen and (max-width: 1440px) {
  .card {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
  }
}

@media screen and (max-width: 1024px) {
  .card {
    flex: 1 1 calc(33.33% - 16px);
    max-width: calc(33.33% - 16px);
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    max-height: 150px;
  }

  .cardHeader {
    max-width: 145px;
    height: 100%;
  }

  .cardInfoFooter {
    display: none;
  }

  .cardCallToAction {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .cardTitle {
    font-size: 16px;
  }

  .cardInfoFooter {
    font-size: 12px;
  } 
}
