.header {
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEEFF4;
}

.header img {
  width: 100px;
  margin-left: 12px;
}

.searchBar {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: #F8F8FB;
  border: 1px solid #EEEFF4;
  gap: 8px;
  width: 50%;
}

.searchBar:focus-within {
  border: 1px solid black;
  transition: all 0.5s ease;
}

.logos {
  display: flex;
}

.logoDetails {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
}

.searchInput {
  font-size: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;

}

.searchInput::placeholder {
  color: #A0A3BD;
}

@media screen and (max-width: 769px) {
  .searchBar {
    display: none;
  }
}
