.landingPage {
  color: #4E4B66;
}

.landingPageTitle {
  color: #0C0C1A;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.18px;
  margin-bottom: 8px;
}

.landingPageSubtitle {
  color: #4E4B66;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .landingPageTitle,
  .landingPageSubtitle {
    display: none;
  }

  .landingPageBreadcrum {
    display: none;
  }
}
