.landingBanner {
  width: 100%;
  background: #14142A;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  height: fit-content;
}

.landingBannerPreview {
  background: linear-gradient(180deg, rgba(20, 20, 42, 0.00) 0%, #14142A 95%), url(https://images.unsplash.com/photo-1500375592092-40eb2168fd21?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MDI5MnwwfDF8c2VhcmNofDI5fHx3YWxscGFwZXJ8ZW58MHx8fHwxNzI1NDY4OTU4fDA&ixlib=rb-4.0.3&q=80&w=1080) lightgray -21.585px -8.426px / 136.897% 124.31% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;

  & span {
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.0075rem;

  }
}

.landingBannerHeader {
  height: 14.25rem;
  position: relative;
}

.landingBannerPlay {
  padding: 1.5rem 1.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 100%;
}

.landingBannerPlay img {
  width: 32px;
  height: 32px;
}

.landingBannerBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.23rem;
  max-height: 455px;
  overflow: hidden;
  overflow-y: auto;
}

.landingBannerBody h4 {
  color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.0075rem;
}

.landingBannerInfo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.landingBannerInfo p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.landingBannerInfo span {
  color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.0075rem;
}

.landingBannerItems {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.landingBannerFooter {
  padding: 1rem;

}

.landingBannerButton {
  color: #A996FF;
  background: none;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border: 1.8px solid #A996FF;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .landingBannerButtonPreview {
    display: none;
  }
  .landingBannerHero {
    display: none;
  }

  .landingBreadcrumb {
    display: none;
  }
}

@media screen and (max-width: 1023px) {

  .landingBannerBody,
  .landingBannerHeader,
  .landingBannerInfo{
    display: none;
  }

  .landingBanner {
    background: linear-gradient(90deg, rgba(20, 20, 42, 1) 0%, rgba(20, 20, 42, 1) 60%, rgba(20, 20, 42, 0) 100%),               url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MDI5MnwwfDF8c2VhcmNofDI5fHx3YWxscGFwZXJ8ZW58MHx8fHwxNzI1NDY4OTU4fDA&ixlib=rb-4.0.3&q=80&w=1080') no-repeat bottom;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .landingBannerHero {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .landingBannerHero h1 {
    color: white;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 145.455% */
    letter-spacing: 0.01375rem;
  }

  .landingBannerHero h4 {
    color: #A996FF;
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 123.077% */
    letter-spacing: 0.00206rem;
  }

  .landingBannerFooter {
    display: flex;
    padding: 0;
    gap: 1rem;
  }


  .landingBannerButtonPreview {
    background: none;
    border-radius: 0.5rem;
    border: 1.8px solid #A996FF;
    color: #A996FF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 125% */
    letter-spacing: -0.005rem;
  }

  .landingBannerButton {
    width: auto;
  }
}
