.landingReview {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 1rem;
  background: white;
  border-radius: 0.75rem;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .landingReview {
    display: none;
  }
}
